
html {
    scroll-behavior: smooth;
}

button {
    background-color: #FF0000;
    border-radius: 20px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Oswald', sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
}

body {
    margin: 0;
    width: 100vw;
    position: relative;
}

header {
    background: black;
    box-shadow: 0px -1px 4px 1px #1c1717e8;
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 2;
    top: 0;
    border-bottom: 1px solid #444444;
}

header > nav:nth-child(2) {
    position: absolute;
    right: 20px;
}

header > nav:nth-child(1) {
    position: absolute;
    left: 10px;
}

header > :nth-child(1) > h3 > a {
    position: relative;
    left: 10px;
    color: white;
    font-size: 20px;
    text-decoration: none;
}

header > nav:nth-child(2) > ul > li {
    display: inline-block;

}

header > nav:nth-child(2) > ul > li > a {
    display: inline-block;
    padding: 10px;
    color: white;
    font-family: Lato;
    font-size: 18px;
    text-decoration: none;
}

.title {
    position: relative;
    color: #fff;
}

.rotate-words {
    display: inline;
}

.rotate-words span {
    width: max-content;
    position: absolute;
    background-color: #bb93fc;
    padding-inline: 10px;
    opacity: 0;
    transform-origin: 10% 75%;
    animation: rotateWords 12s var(--d) linear infinite;
}

@keyframes rotateWords {
    5% {
        opacity: 1;
    }
    10%,
    20% {
        opacity: 1;
        transform: rotate(3deg);
    }

    15% {
        transform: rotate(-1deg);
    }
    25% {
        opacity: 0;
        transform: translateY(90px) rotate(10deg);
    }
}


/*Main*/
main {
    position: relative;
    margin-top: 60px;
    background: #030320;
    width: 100vw;
}

main > section:nth-child(1) {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

main > section:nth-child(1) > img {
    height: 100%;
    width: 100%;
}

main > section:nth-child(1) > div:nth-child(2) {
    position: absolute;
    top: 60px;
    left: 70px;
}

main > section:nth-child(1) > div:nth-child(2) > h1 {
    position: relative;
    color: white;
    font-size: 60px;
    margin-top: 0px;
    margin-bottom: 15px;
    font-family: 'Chakra Petch', sans-serif;
}

main > section:nth-child(1) > div:nth-child(3) {
    position: absolute;
    top: 415px;
    left: 70px;
}

main > section:nth-child(1) > div:nth-child(3) > aside:nth-child(1) {
    position: relative;
    left: 0;
    /*height: 210px;*/
    /*width: 300px;*/
    padding-left: 20px;
    padding-top: 20px;

}

main > section:nth-child(1) > div:nth-child(3) > aside:nth-child(2) {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 21px;
    margin-left: 340px;
    width: 300px;
    padding-left: 20px;
    padding-top: 20px;
}

main > section:nth-child(1) > div:nth-child(3) > aside > h1 {
    position: relative;
    color: white;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 10px;
}

main > section:nth-child(1) > div:nth-child(3) > aside > nav > h1 > a {
    position: relative;
    color: white;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 10px;
    text-decoration: none;
}

main > section:nth-child(1) > div:nth-child(3) > aside > nav > h1 > a > i {
    color: #1BF458;
    padding-left: 5px;
}

main > section:nth-child(1) > div:nth-child(3) > aside > h5 {
    position: relative;
    color: white;
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 10px;
}

main > section:nth-child(1) > div:nth-child(3) > aside > img {
    height: 185px;
    width: 300px;
    border-radius: 20px;
}


/*PROFILE*/
main > section:nth-child(2) {
    position: relative;
    width: 100%;
}

main > section:nth-child(2) > h1 {
    position: relative;
    font-size: 50px;
    color: white;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-top: 20px;
}

main > section:nth-child(2) > section > h1 {
    position: relative;
    font-size: 30px;
    font-family: 'Artifika', serif;
    color: white;
    margin-top: 45px;
    margin-left: 25px;
}

main > section:nth-child(2) > section > h2 {
    position: relative;
    font-size: 24px;
    font-family: 'Arimo', serif;
    color: white;
    margin-top: 45px;
    margin-left: 25px;
}

main > section:nth-child(2) > section > p {
    position: relative;
    font-size: 17px;
    font-family: 'Arimo', sans-serif;
    color: white;
    margin-left: 25px;
    line-height: 1.6;
}

main > section:nth-child(2) > section > section:nth-child(4) {
    width: 600px;
    height: 400px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    margin-left: 100px;
    margin-top: 40px;
}

main > section:nth-child(2) > section > section:nth-child(4) > div {
    color: white;
    font-family: Arimo;
    text-align: justify;
}

main > section:nth-child(2) > section > section:nth-child(4) > div > img {
    width: 50px;
    height: 50px;
    margin-right: 30px;
}

main > section:nth-child(2) > div:nth-child(4) {
    position: relative;
    margin-bottom: 100px;
}

main > section:nth-child(2) > div:nth-child(4) > nav {
    position: absolute;
    right: 30px;
}

main > section:nth-child(2) > div:nth-child(4) > nav > h1 > a {
    position: relative;
    color: white;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
}

main > section:nth-child(2) > div:nth-child(4) > nav > h1 > a > i {
    color: #1BF458;
    padding-left: 5px;
}


/*SERVICE*/
main > section:nth-child(3) {
    position: relative;
    width: 100%;
}

main > section:nth-child(3) > h1 {
    position: relative;
    font-size: 50px;
    color: white;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-top: 20px;
}

main > section:nth-child(3) > dl > dt {
    position: relative;
    font-size: 30px;
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    text-decoration-style: solid;
    text-underline-offset: 10px;
    color: white;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 30px;
    margin-left: 25px;
    margin-top: 40px;
}

main > section:nth-child(3) > dl > dd {
    position: relative;
    font-size: 18px;
    font-family: 'Arimo', sans-serif;
    color: white;
    margin-left: 25px;
    margin-bottom: 90px;
}

main > section:nth-child(3) > div:nth-child(4) {
    position: relative;
    margin-bottom: 190px;
}

main > section:nth-child(3) > div:nth-child(4) > nav {
    position: absolute;
    right: 30px;
}

main > section:nth-child(3) > div:nth-child(4) > nav > h1 > a {
    position: relative;
    color: white;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
}

main > section:nth-child(3) > div:nth-child(4) > nav > h1 > a > i {
    color: #1BF458;
    padding-left: 5px;
}


/*PROJECT*/
main > section:nth-child(4) {
    position: relative;
    width: 100%;
}

main > section:nth-child(4) > h1 {
    position: relative;
    font-size: 50px;
    color: white;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-top: 20px;
}

main > section:nth-child(4) > section:nth-child(3) {
    display: flex;
    flex-direction: column;
}

main > section:nth-child(4) > section:nth-child(3) > div:nth-child(1) {
    position: relative;
    top: 40px;
    margin-left: 70px;
    height: 450px;
    margin-right: 35px;
}

main > section:nth-child(4) > section:nth-child(3) > div:nth-child(1) > aside:nth-child(1) {
    position: absolute;
    left: 0;
}

main > section:nth-child(4) > section:nth-child(3) > div:nth-child(1) > aside:nth-child(2) {
    position: absolute;
    left: 550px;
    padding-left: 20px;
    padding-top: 20px;
}

main > section:nth-child(4) > section:nth-child(3) > div:nth-child(1) > aside > a > img {
    height: 315px;
    width: 500px;
    border-radius: 20px;
    background-size: cover;
}

main > section:nth-child(4) > section:nth-child(3) > div:nth-child(1) > aside > h1 > a {
    position: relative;
    font-size: 30px;
    color: white;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 30px;
    margin-left: 25px;
    margin-top: 40px;
    text-decoration: none;
}

main > section:nth-child(4) > section:nth-child(3) > div:nth-child(1) > aside > p {
    position: relative;
    font-size: 17px;
    font-family: 'Arimo', sans-serif;
    color: white;
    margin-left: 25px;
    margin-bottom: 90px;
    line-height: 1.6;
}

main > section:nth-child(4) > section:nth-child(3) > div:nth-child(2) {
    position: relative;
    height: 450px;
    margin-left: 70px;
    margin-right: 35px;
}

main > section:nth-child(4) > section:nth-child(3) > div:nth-child(2) > aside:nth-child(1) {
    position: absolute;
    left: 0;
}

main > section:nth-child(4) > section:nth-child(3) > div:nth-child(2) > aside:nth-child(2) {
    position: absolute;
    left: 550px;
    padding-left: 20px;
    padding-top: 20px;
}

main > section:nth-child(4) > section:nth-child(3) > div:nth-child(2) > aside > a > img {
    height: 315px;
    width: 500px;
    border-radius: 20px;
    background-size: cover;
}

main > section:nth-child(4) > section:nth-child(3) > div:nth-child(2) > aside > h1 > a {
    position: relative;
    font-size: 30px;
    color: white;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 30px;
    margin-left: 25px;
    margin-top: 40px;
    text-decoration: none;
}

main > section:nth-child(4) > section:nth-child(3) > div:nth-child(2) > aside > p {
    position: relative;
    font-size: 17px;
    font-family: 'Arimo', sans-serif;
    color: white;
    margin-left: 25px;
    margin-bottom: 90px;
    line-height: 1.6;
}

main > section:nth-child(4) > section:nth-child(3) > div:nth-child(3) {
    position: relative;
    height: 450px;
    margin-left: 70px;
    margin-right: 35px;
}

main > section:nth-child(4) > section:nth-child(3) > div:nth-child(3) > aside:nth-child(1) {
    position: absolute;
    left: 0;
}

main > section:nth-child(4) > section:nth-child(3) > div:nth-child(3) > aside:nth-child(2) {
    position: absolute;
    left: 550px;
    padding-left: 20px;
    padding-top: 20px;
}

main > section:nth-child(4) > section:nth-child(3) > div:nth-child(3) > aside > a > img {
    height: 315px;
    width: 500px;
    border-radius: 20px;
    background-size: cover;
}

main > section:nth-child(4) > section:nth-child(3) > div:nth-child(3) > aside > h1 > a {
    position: relative;
    font-size: 30px;
    color: white;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 30px;
    margin-left: 25px;
    margin-top: 40px;
    text-decoration: none;
}

main > section:nth-child(4) > section:nth-child(3) > div:nth-child(3) > aside > p {
    position: relative;
    font-size: 17px;
    font-family: 'Arimo', sans-serif;
    color: white;
    margin-left: 25px;
    margin-bottom: 90px;
    line-height: 1.6;
}

main > section:nth-child(4) > section:nth-child(4) {
    position: relative;
    width: 100vw;
    margin-bottom: 80px;
}

main > section:nth-child(4) > section:nth-child(4) > button {
    width: 300px;
    height: 40px;
    font-size: 18px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

main > section:nth-child(4) > section:nth-child(4) > button:hover {
    background-color: #c40000;
}


/*CONTACT*/
main > section:nth-child(5) {
    position: relative;
    width: 100%;
}

main > section:nth-child(5) {
    text-align: center;
}

main > section:nth-child(5) > h1 {
    position: relative;
    font-size: 35px;
    color: white;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 0;
    margin-top: 40px;
}

main > section:nth-child(5) > h5 {
    position: relative;
    font-size: 12px;
    color: white;
    font-family: 'Arimo', sans-serif;
    margin-top: 20px;
    margin-bottom: 40px;
}

main > section:nth-child(5) > h1:nth-child(1) {
    position: relative;
    font-size: 50px;
    color: white;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-top: 20px;
    text-align: left;
}

main > section:nth-child(5) > section:nth-child(5) {
    display: flex;
    align-items: center;
    overflow: hidden;
}

main > section:nth-child(5) > section:nth-child(5) > div {
    width: 100vw;
    height: 110px;
    margin-top: 50px;
    margin-bottom: 50px;
}

main > section:nth-child(5) > section:nth-child(5) > div > h1 {
    color: white;
    font-family: Arimo;
    font-size: 15px;
}

main > section:nth-child(5) > section:nth-child(5) > div > h1 > i {
    color: red;
    font-size: 20px;
}

main > section:nth-child(5) > section:nth-child(8) > div > button {
    width: 250px;
    height: 40px;
    font-size: 17px;
    margin-bottom: 60px;
}

main > section:nth-child(5) > section:nth-child(8) > div > button:hover {
    background-color: #c40000;
}

#txtCusID {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 250px;
    box-sizing: border-box;
    font-family: Arimo;
}

#txtEmail {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 250px;
    box-sizing: border-box;
    font-family: Arimo;
}

#txtMessage {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    font-family: Arimo;
}


/*FOOTER*/
footer {
    background-color: #1A1A1A;
    position: absolute;
    width: 100%;
}

footer > h1 {
    color: white;
    margin-left: 25px;
    margin-bottom: 0;
    font-size: 40px;
}

footer > h3 {
    color: white;
    margin-left: 25px;
    margin-top: -3px;
    font-size: 10px;
    font-family: Arimo;
}

footer > div {
    color: white;
    margin-left: 25px;
    margin-top: 20px;
}

footer > div > a > i {
    color: white;
    width: 30px;
    height: 30px;
}

footer > div > a > i:hover {
    color: red;
}

@media all and (max-width: 320px) {
    header {
        height: 70px;
    }

    header > nav:nth-child(2) {
        right: 0px;
        left: 0px;
        bottom: 28px;
        position: relative;
    }

    header > nav:nth-child(1) {
        right: 0px;
        left: 0px;
        text-align: center;
        top: -10px;
        position: relative;
    }

    header > :nth-child(1) > h3 > a {
        font-size: 20px;
        left: 0;
    }

    header > nav:nth-child(2) > ul > li > a {
        font-size: 9px;
    }

    main > section:nth-child(1) > div:nth-child(2) {
        top: 55px;
        left: 40px;
    }

    main > section:nth-child(1) > div:nth-child(2) > h1 {
        font-size: 20px;
    }

    main > section:nth-child(1) > div:nth-child(3) {
        display: none;
    }

    main > section:nth-child(2) > h1 {
        font-size: 30px;
    }

    main > section:nth-child(2) > section > h1 {
        font-size: 20px;
        text-align: center;
        margin-left: 4px;
        margin-right: 4px;
    }

    main > section:nth-child(2) > section > h2 {
        font-size: 18px;
    }

    main > section:nth-child(2) > section > p {
        font-size: 14px;
        text-align: center;
        margin-left: 4px;
        margin-right: 4px;
    }

    main > section:nth-child(2) > section > section:nth-child(4) {
        width: 275px;
        height: 325px;
        margin-left: 27px;
    }

    main > section:nth-child(2) > section > section:nth-child(4) > div > img {
        width: 35px;
        height: 35px;
        margin-left: 12px;
        margin-right: 12px;
    }

    main > section:nth-child(2) > section > section:nth-child(4) > div {
        font-size: 12px;
    }

    main > section:nth-child(2) > div:nth-child(4) > nav > h1 > a {
        font-size: 15px;
    }

    main > section:nth-child(3) > h1 {
        font-size: 30px;
    }

    main > section:nth-child(3) > dl > dt {
        font-size: 21px;
    }

    main > section:nth-child(3) > dl > dd {
        font-size: 14px;
        margin-bottom: 50px;
    }

    main > section:nth-child(3) > div:nth-child(4) > nav > h1 > a {
        font-size: 15px;
    }

    main > section:nth-child(4) > h1 {
        font-size: 30px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(1) {
        top: 40px;
        margin-left: 0px;
        height: 460px;
        margin-right: 0px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(1) > aside > a > img {
        height: 170px;
        width: 240px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(1) > aside:nth-child(1) {
        text-align: center;
        left: 0px;
        top: 0px;
        right: 0px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(1) > aside:nth-child(2) {
        text-align: center;
        left: 0px;
        bottom: 0px;
        right: 0px;
        padding-left: 2px;
        padding-right: 2px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(1) > aside > h1 > a {
        font-size: 28px;
        margin-left: 0px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(1) > aside > p {
        font-size: 14px;
        margin-left: 0px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(2) {
        top: 0px;
        margin-left: 0px;
        height: 420px;
        margin-right: 0px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(2) > aside > a > img {
        height: 170px;
        width: 240px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(2) > aside:nth-child(1) {
        text-align: center;
        left: 0px;
        top: 0px;
        right: 0px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(2) > aside:nth-child(2) {
        text-align: center;
        left: 0px;
        bottom: 0px;
        right: 0px;
        padding-left: 2px;
        padding-right: 2px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(2) > aside > h1 > a {
        font-size: 28px;
        margin-left: 0px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(2) > aside > p {
        font-size: 14px;
        margin-left: 0px;
        margin-bottom: 50px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(3) {
        top: 0px;
        margin-left: 0px;
        height: 420px;
        margin-right: 0px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(3) > aside > a > img {
        height: 170px;
        width: 240px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(3) > aside:nth-child(1) {
        text-align: center;
        left: 0px;
        top: 0px;
        right: 0px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(3) > aside:nth-child(2) {
        text-align: center;
        left: 0px;
        bottom: 0px;
        right: 0px;
        padding-left: 2px;
        padding-right: 2px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(3) > aside > h1 > a {
        font-size: 28px;
        margin-left: 0px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(3) > aside > p {
        font-size: 14px;
        margin-left: 0px;
        margin-bottom: 50px;
    }

    main > section:nth-child(4) > section:nth-child(4) > button {
        width: 200px;
        height: 35px;
        font-size: 16px;
    }

    main > section:nth-child(5) > h1:nth-child(1) {
        font-size: 30px;
    }

    main > section:nth-child(5) > h1 {
        font-size: 26px;
    }

    main > section:nth-child(5) > h5 {
        font-size: 10px;
    }

    main > section:nth-child(5) > section:nth-child(5) > div {
        height: 70px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    main > section:nth-child(5) > section:nth-child(5) > div > h1 {
        color: white;
        font-family: Arimo;
        font-size: 10px;
    }

    main > section:nth-child(5) > section:nth-child(5) > div > h1 > i {
        color: red;
        font-size: 13px;
    }

    main > section:nth-child(5) > section:nth-child(8) > div > button {
        width: 200px;
        height: 35px;
        font-size: 16px;
    }
}

@media all and (min-width: 321px) and (max-width: 375px) {
    header {
        height: 70px;
    }

    header > nav:nth-child(2) {
        text-align: center;
        left: 0px;
        bottom: -12px;
        right: 0px;
    }

    header > nav:nth-child(1) {
        text-align: center;
        left: 0px;
        top: -10px;
        right: 0px;
        padding-right: 5px;
    }

    header > :nth-child(1) > h3 > a {
        font-size: 22px;
        left: 0;
    }

    header > nav:nth-child(2) > ul > li > a {
        font-size: 10px;
    }

    header > nav:nth-child(2) > ul {
        padding-left: 0;
    }

    main > section:nth-child(1) > div:nth-child(2) {
        top: 55px;
        left: 40px;
    }

    main > section:nth-child(1) > div:nth-child(2) > h1 {
        font-size: 20px;
    }

    main > section:nth-child(1) > div:nth-child(3) {
        display: none;
    }

    main > section:nth-child(2) > h1 {
        font-size: 30px;
    }

    main > section:nth-child(2) > section > h1 {
        font-size: 20px;
        text-align: center;
        margin-left: 4px;
        margin-right: 4px;
    }

    main > section:nth-child(2) > section > h2 {
        font-size: 18px;
    }

    main > section:nth-child(2) > section > p {
        font-size: 14px;
        text-align: center;
        margin-left: 4px;
        margin-right: 4px;
    }

    main > section:nth-child(2) > section > section:nth-child(4) {
        width: 275px;
        height: 325px;
        margin-left: 27px;
    }

    main > section:nth-child(2) > section > section:nth-child(4) > div > img {
        width: 35px;
        height: 35px;
        margin-left: 12px;
        margin-right: 12px;
    }

    main > section:nth-child(2) > section > section:nth-child(4) > div {
        font-size: 12px;
    }

    main > section:nth-child(2) > div:nth-child(4) > nav > h1 > a {
        font-size: 15px;
    }

    main > section:nth-child(3) > h1 {
        font-size: 30px;
    }

    main > section:nth-child(3) > dl > dt {
        font-size: 21px;
    }

    main > section:nth-child(3) > dl > dd {
        font-size: 14px;
        margin-bottom: 50px;
    }

    main > section:nth-child(3) > div:nth-child(4) > nav > h1 > a {
        font-size: 15px;
    }

    main > section:nth-child(4) > h1 {
        font-size: 30px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(1) {
        top: 40px;
        margin-left: 0px;
        height: 460px;
        margin-right: 0px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(1) > aside > a > img {
        height: 170px;
        width: 240px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(1) > aside:nth-child(1) {
        text-align: center;
        left: 0px;
        top: 0px;
        right: 0px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(1) > aside:nth-child(2) {
        text-align: center;
        left: 0px;
        bottom: 0px;
        right: 0px;
        padding-left: 2px;
        padding-right: 2px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(1) > aside > h1 > a {
        font-size: 28px;
        margin-left: 0px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(1) > aside > p {
        font-size: 14px;
        margin-left: 0px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(2) {
        top: 0px;
        margin-left: 0px;
        height: 420px;
        margin-right: 0px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(2) > aside > a > img {
        height: 170px;
        width: 240px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(2) > aside:nth-child(1) {
        text-align: center;
        left: 0px;
        top: 0px;
        right: 0px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(2) > aside:nth-child(2) {
        text-align: center;
        left: 0px;
        bottom: 0px;
        right: 0px;
        padding-left: 2px;
        padding-right: 2px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(2) > aside > h1 > a {
        font-size: 28px;
        margin-left: 0px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(2) > aside > p {
        font-size: 14px;
        margin-left: 0px;
        margin-bottom: 50px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(3) {
        top: 0px;
        margin-left: 0px;
        height: 420px;
        margin-right: 0px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(3) > aside > a > img {
        height: 170px;
        width: 240px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(3) > aside:nth-child(1) {
        text-align: center;
        left: 0px;
        top: 0px;
        right: 0px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(3) > aside:nth-child(2) {
        text-align: center;
        left: 0px;
        bottom: 0px;
        right: 0px;
        padding-left: 2px;
        padding-right: 2px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(3) > aside > h1 > a {
        font-size: 28px;
        margin-left: 0px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(3) > aside > p {
        font-size: 14px;
        margin-left: 0px;
        margin-bottom: 50px;
    }

    main > section:nth-child(4) > section:nth-child(4) > button {
        width: 200px;
        height: 35px;
        font-size: 16px;
    }

    main > section:nth-child(5) > h1:nth-child(1) {
        font-size: 30px;
    }

    main > section:nth-child(5) > h1 {
        font-size: 26px;
    }

    main > section:nth-child(5) > h5 {
        font-size: 10px;
    }

    main > section:nth-child(5) > section:nth-child(5) > div {
        height: 70px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    main > section:nth-child(5) > section:nth-child(5) > div > h1 {
        color: white;
        font-family: Arimo;
        font-size: 10px;
    }

    main > section:nth-child(5) > section:nth-child(5) > div > h1 > i {
        color: red;
        font-size: 13px;
    }

    main > section:nth-child(5) > section:nth-child(8) > div > button {
        width: 200px;
        height: 35px;
        font-size: 16px;
    }
}

@media all and (min-width: 376px) and (max-width: 425px) {
    header {
        height: 70px;
    }

    header > nav:nth-child(2) {
        text-align: center;
        left: 0px;
        bottom: -14px;
        right: 0px;
        justify-content: center;
    }

    header > nav:nth-child(1) {
        text-align: center;
        left: 0px;
        top: -10px;
        right: 0px;
        padding-right: 7px;
    }

    header > :nth-child(1) > h3 > a {
        font-size: 24px;
        left: 0;
    }

    header > nav:nth-child(2) > ul > li > a {
        font-size: 11px;
    }

    header > nav:nth-child(2) > ul {
        padding-left: 0;
    }

    main > section:nth-child(1) > div:nth-child(2) {
        top: 55px;
        left: 40px;
    }

    main > section:nth-child(1) > div:nth-child(2) > h1 {
        font-size: 20px;
    }

    main > section:nth-child(1) > div:nth-child(3) {
        display: none;
    }

    main > section:nth-child(2) > h1 {
        font-size: 30px;
    }

    main > section:nth-child(2) > section > h1 {
        font-size: 20px;
        text-align: center;
        margin-left: 4px;
        margin-right: 4px;
    }

    main > section:nth-child(2) > section > h2 {
        font-size: 18px;
    }

    main > section:nth-child(2) > section > p {
        font-size: 14px;
        text-align: center;
        margin-left: 4px;
        margin-right: 4px;
    }

    main > section:nth-child(2) > section > section:nth-child(4) {
        width: 275px;
        height: 325px;
        margin-left: 27px;
    }

    main > section:nth-child(2) > section > section:nth-child(4) > div > img {
        width: 35px;
        height: 35px;
        margin-left: 12px;
        margin-right: 12px;
    }

    main > section:nth-child(2) > section > section:nth-child(4) > div {
        font-size: 12px;
    }

    main > section:nth-child(2) > div:nth-child(4) > nav > h1 > a {
        font-size: 15px;
    }

    main > section:nth-child(3) > h1 {
        font-size: 30px;
    }

    main > section:nth-child(3) > dl > dt {
        font-size: 21px;
    }

    main > section:nth-child(3) > dl > dd {
        font-size: 14px;
        margin-bottom: 50px;
    }

    main > section:nth-child(3) > div:nth-child(4) > nav > h1 > a {
        font-size: 15px;
    }

    main > section:nth-child(4) > h1 {
        font-size: 30px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(1) {
        top: 40px;
        margin-left: 0px;
        height: 460px;
        margin-right: 0px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(1) > aside > a > img {
        height: 170px;
        width: 240px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(1) > aside:nth-child(1) {
        text-align: center;
        left: 0px;
        top: 0px;
        right: 0px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(1) > aside:nth-child(2) {
        text-align: center;
        left: 0px;
        bottom: 0px;
        right: 0px;
        padding-left: 2px;
        padding-right: 2px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(1) > aside > h1 > a {
        font-size: 28px;
        margin-left: 0px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(1) > aside > p {
        font-size: 14px;
        margin-left: 0px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(2) {
        top: 0px;
        margin-left: 0px;
        height: 420px;
        margin-right: 0px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(2) > aside > a > img {
        height: 170px;
        width: 240px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(2) > aside:nth-child(1) {
        text-align: center;
        left: 0px;
        top: 0px;
        right: 0px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(2) > aside:nth-child(2) {
        text-align: center;
        left: 0px;
        bottom: 0px;
        right: 0px;
        padding-left: 2px;
        padding-right: 2px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(2) > aside > h1 > a {
        font-size: 28px;
        margin-left: 0px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(2) > aside > p {
        font-size: 14px;
        margin-left: 0px;
        margin-bottom: 50px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(3) {
        top: 0px;
        margin-left: 0px;
        height: 420px;
        margin-right: 0px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(3) > aside > a > img {
        height: 170px;
        width: 240px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(3) > aside:nth-child(1) {
        text-align: center;
        left: 0px;
        top: 0px;
        right: 0px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(3) > aside:nth-child(2) {
        text-align: center;
        left: 0px;
        bottom: 0px;
        right: 0px;
        padding-left: 2px;
        padding-right: 2px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(3) > aside > h1 > a {
        font-size: 28px;
        margin-left: 0px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(3) > aside > p {
        font-size: 14px;
        margin-left: 0px;
        margin-bottom: 50px;
    }

    main > section:nth-child(4) > section:nth-child(4) > button {
        width: 200px;
        height: 35px;
        font-size: 16px;
    }

    main > section:nth-child(5) > h1:nth-child(1) {
        font-size: 30px;
    }

    main > section:nth-child(5) > h1 {
        font-size: 26px;
    }

    main > section:nth-child(5) > h5 {
        font-size: 10px;
    }

    main > section:nth-child(5) > section:nth-child(5) > div {
        height: 70px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    main > section:nth-child(5) > section:nth-child(5) > div > h1 {
        color: white;
        font-family: Arimo;
        font-size: 10px;
    }

    main > section:nth-child(5) > section:nth-child(5) > div > h1 > i {
        color: red;
        font-size: 13px;
    }

    main > section:nth-child(5) > section:nth-child(8) > div > button {
        width: 200px;
        height: 35px;
        font-size: 16px;
    }
}

@media all and (min-width: 426px) and (max-width: 768px) {
    main > section:nth-child(1) > div:nth-child(2) > h1 {
        font-size: 46px;
    }

    main > section:nth-child(1) > div:nth-child(3) {
        top: 280px;
    }

    main > section:nth-child(1) > div:nth-child(3) > aside > img {
        height: 170px;
        width: 240px;
    }

    main > section:nth-child(1) > div:nth-child(3) > aside:nth-child(2) {
        margin-top: 0px;
        margin-left: 275px;
        width: 300px;
        padding-top: 45px;
    }

    main > section:nth-child(1) > div:nth-child(3) > aside:nth-child(2) > h1 {
        font-size: 24px;
    }

    main > section:nth-child(1) > div:nth-child(3) > aside:nth-child(2) > h5 {
        font-size: 14px;
    }

    main > section:nth-child(1) > div:nth-child(3) > aside:nth-child(2) > nav > h1 > a {
        font-size: 14px;
    }

    main > section:nth-child(1) > div:nth-child(3) > aside:nth-child(2) > nav > h1 {
        margin-top: 0;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(1) > aside > a > img {
        height: 260px;
        width: 360px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(2) > aside > a > img {
        height: 260px;
        width: 360px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(3) > aside > a > img {
        height: 260px;
        width: 360px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(1) > aside:nth-child(2) {
        left: 360px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(2) > aside:nth-child(2) {
        left: 360px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(3) > aside:nth-child(2) {
        left: 360px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(1) > aside > h1 > a {
        font-size: 28px;
        margin-top: -30px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(2) > aside > h1 > a {
        font-size: 28px;
        margin-top: -30px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(3) > aside > h1 > a {
        font-size: 28px;
        margin-top: -30px;
    }
}