.body{
    margin: 0;
    padding: 0;
    cursor: none;
    width: 100vw;
    height: 100vh;
}

#cursor{
    top: 50%;
    left: 50%;
    position: absolute;
    background-image: url("assets/Level 1/crosshair/crosshair068.png");
    background-size: cover;
    background-position: center;
    width: 50px;
    height: 50px;
    transform: translate(-50%,-50%);
    pointer-events: none;
    box-sizing: border-box;
    z-index: 4;
}

.background{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url("assets/Level 1/Hills Free (update 3.0).png");
    background-size: cover;
    background-position: center;
    z-index: 1;
}



/*#health{*/
/*    position: absolute;*/
/*    display: flex;*/
/*    bottom: 1%;*/
/*    left: 4%;*/
/*    z-index: 5;*/
/*}*/

/*#health>div{*/
/*    background-image: url("assets/Level 1/Heart.png");*/
/*    width: 50px;*/
/*    height: 50px;*/
/*    background-size: cover;*/
/*    background-position: center;*/
/*    margin: 5px;*/
/*}*/

.score_enemyContainer{
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 1%;
    top: 1%;
    z-index: 5;
}
#enemyRemainCount{
    display: flex;
}
#enemyRemainCount>h1 {
    font-size: 23px;
}

#scoreBoard{
    justify-content: center;
    display: flex;
    width: 20vw;
    height: 10vh;
    background: rgba(0,0,0,0.25);
    backdrop-filter: blur(10px);
    opacity: 10;
    border-radius: 20px;
    z-index: 5;
}

#scoreBoard>h1{
    font-size: 2em;
    opacity: 10;
    color: rgba(0, 0, 0, 0.88);
}

.soil{
    position: absolute;
    width: 100vw;
    height: 15%;
    bottom: 0;
    background-image: url("assets/Level 1/soil-575643.png");
    background-size: cover;
    background-position: center;
    z-index: 3;
}
.bush1{
    position: absolute;
    width: 40%;
    height: 40%;
    bottom: 10px;
    right: 0;
    background-image: url("assets/Level 1/bush-g0110af25f_1280.png");
    background-size: cover;
    background-position: center;
    z-index: 3;
}
.bush2{
    position: absolute;
    width: 40%;
    height: 40%;
    bottom: 10px;
    right: 30%;
    background-image: url("assets/Level 1/bush-ga35d1e709_1280.png");
    background-size: cover;
    background-position: center;
    z-index: 3;
}
.bush3{
    position: absolute;
    width: 40%;
    height: 40%;
    bottom: 0;
    left: 0;
    background-image: url("assets/Level 1/bush-g0110af25f_1280.png");
    background-size: cover;
    background-position: center;
    z-index: 3;
}